{% extends "panel/Almacenero/almacenero.html" %}

{% block contenido %}
    <style>
        .modificar:hover{
            fill:blue;
        }
        .eliminar:hover{
            fill:red;
        }
        .caja_columna{
            min-width:100px;
        }
    </style>
    <div class="w-100 text-center d-flex flex-column justify-content-start h-100">
        <div class="w-100 py-4 shadow-sm">
            <h2 class="h2 fs-2">Gestion de Empleados</h2>    
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Correo</th>
                        <th scope="col" class="caja_columna">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-lg w-100 mx-auto icon-column" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                            </svg>
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-black fs-4" id="exampleModalLabel">Nuevo Empleado</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-dark">
                                            <form action="" method="POST" id="form_registrar_empleado">
                                                {% csrf_token %}
                                                <input type="hidden" name="opc" value="registrar_empleado">
                                                <div class="mb-3">
                                                    <label for="nombre" class="form-label fs-5">Nombres</label>
                                                    <input value="{{back.nombre}}" type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombres">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="apellidos" class="form-label fs-5">Apellidos</label>
                                                    <input value="{{back.apellido}}" type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="username" class="form-label fs-5">Nombre de usuario</label>
                                                    <input value="{{back.username}}" type="text" class="form-control" id="username" name="username" placeholder="Nombre de usuario">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="email" class="form-label fs-5">Correo</label>
                                                    <input value="{{back.email}}" type="email" class="form-control" id="email" name="email" placeholder="Correo">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="password1" class="form-label fs-5">Contraseña</label>
                                                    <input value="{{back.password1}}" value="{{back.password1}}" name="password1" type="password" class="form-control" id="password1" placeholder="Ingresa tu contraseña">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="password2" class="form-label fs-5">Repetir Contraseña</label>
                                                    <input value="{{back.password2}}" name="password2" type="password" class="form-control" id="password2" placeholder="Repetir contraseña">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-outline-light" id="registrar_empleado">Registrar</button>
                                        </div>
                                    </div>
                                </div>                        
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% if not empleados %}
                        <tr class="bg-light">
                            <td colspan="6" class="text-center text-black fs-4">No hay Empleados Registrados</td>
                        </tr>
                    {% else %}
                        <form action="" method="POST" id="form_crud_empleado">
                            {% csrf_token %}
                            <input type="hidden" name="opc" value="" id="opc_crud_empleado">
                            <input type="hidden" name="id" value="" id="id_crud_empleado">
                        </form>
                        {% for pp in empleados %}
                            <tr>
                                <td>{{pp.id}}</td>
                                <td>{{ pp.nombres }}</td>
                                <td>{{ pp.apellidos }}</td>
                                <td>{{ pp.userid.username }}</td>
                                <td>{{ pp.userid.email }}</td>
                                <td class="text-center">
                                    <div class="icon-column d-flex gap-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pencil-square mx-auto w-50 modificar" id="{{pp.id}}" viewBox="0 0 16 16"
                                        data-bs-toggle="modal" data-bs-target="#modificar_empleado{{pp.id}}">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                        </svg>
                                        <!-- Modal -->
                                        <div class="modal fade" id="modificar_empleado{{pp.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Desea modificar el empleado: 
                                                        {{pp.nombres}} {{pp.apellidos}}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                        <form action="" method="POST">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="opc" value="get_modificar_empleado">
                                                            <input type="hidden" name="id" value="{{pp.id}}">                                                            
                                                            <button type="submit" class="btn btn-primary">Si</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-trash3 mx-auto w-50 eliminar" viewBox="0 0 16 16" id="{{pp.id}}"
                                        data-bs-toggle="modal" data-bs-target="#eliminar_empleado{{pp.id}}">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                        </svg>
                                        <!-- Modal -->
                                        <div class="modal fade" id="eliminar_empleado{{pp.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Desea Eliminar el empleado: 
                                                        {{pp.nombres}} {{pp.apellidos}}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                        <form action="" method="POST">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="opc" value="eliminar_empleado">
                                                            <input type="hidden" name="id" value="{{pp.id}}">                                                            
                                                            <button type="submit" class="btn btn-primary">Si</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock  %}

