{% extends "panel/Mostrador/mostrador.html" %}

{% block contenido %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="p-5 my-3 bg-white shadow rounded-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="{% if compra.entregado == 1 %}green{% elif compra.entregado == 0 %}yellow{% else %}red{% endif %}" class="bi bi-circle-fill float-end mb-2" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                </svg>
                <div class="accordion accordion-flush mt-2" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsethree{{cp.id}}" aria-expanded="false" aria-controls="flush-collapseOne">
                                <div class="mx-3">
                                    <h6 class="h2 fs-5 ">Fecha: </h6><p>{{compra.fecha}}</p>
                                </div>
                                <div class="mx-3">
                                    <h6 class="h2 fs-5 ">Importe: </h6><p>{{total}} $</p>
                                </div>
                            </button>
                        </h2>
                        <div id="flush-collapsethree{{cp.id}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="w-100 text-center d-flex flex-column justify-content-start h-100">
                                    <div class="w-100 py-4 shadow-sm">
                                        <h2 class="h2 fs-2">Productos</h2>    
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead class="table-dark">
                                            <tr>
                                                <th scope="col">Producto</th>
                                                <th scope="col">Cantidad</th>
                                                <th scope="col">Subtotal</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for pp in detalles %}
                                                    <tr>
                                                        <td>{{pp.detalle.productoid.nombre}}</td>
                                                        <td>{{pp.detalle.cantidad}}</td>
                                                        <td>{{pp.subtotal}}</td>
                                                    </tr>
                                                {% endfor %}
                                                <tr>
                                                    <td>Total</td>
                                                    <td>{{total}} $</td>
                                                    <td>
                                                        <a href="../../../../../../../admin/hacer_entrega/{{compra.codigo}}/" type="button" class="btn btn-outline-primary w-100 text-start pl-3" >
                                                            Realizar Entrega
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}